
*{
    margin: 0%;
    padding: 0%;
}
li{
    padding: 10px;
}
.flot-right{
    float: right;
}

nav{
    position: relative;
    z-index: 1;
}
a{
    font-weight: normal;
}
.divright{
    float:right;
}
.ml-100{
    margin-left: 100px;
}
.ml-200{
    margin-left: 200px;
}