form ,button,h1,h2{

    position: relative;
    z-index: 1;

}
h1{
    font-size: 45px;
    h2{
        font-family: Montserrat,sans-serif;
        color:aliceblue;
    }
    

}
input {
    opacity: 0.6;
}